.ima{
     height: 60vh;
     background: url('https://mdbootstrap.com/img/Photos/Others/images/2.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

.colorcustom{
    background: rgba(0, 0, 0, 0.15);
}

.top-nav-collapse{
    background: rgba(0, 0, 0, 0.65) !important;
}