#ima{
     height: 65vh;
     background: url('https://mdbootstrap.com/img/Photos/Others/images/31.jpg');/*imgs posibles: 10, 13 */
     background-repeat: no-repeat;
     background-size: cover;
}


.vacio{
    height:6em;
}
#bioimg{
	border-radius: 100%;
	height: 45vh;
}
.logo{
    margin: auto;
    width: 85%;
}
.top-nav-collapse{
    background: rgba(0, 0, 0, 0.9) 
}
